# Отчёт о проведении тестирования производился в системе Confluence.
## Ссылка на отчёт о проведении тестирования: https://vipienovproksi.atlassian.net/wiki/external/MGJmNTEwZWNhZDU0NGQwZjg5NTRiYmM0ZTFjYTZjMzE
